flows (21).json
[{"id":"6982c538.23908c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"44cd5bd7.80da04","type":"ibmiot in","z":"6982c538.23908c","authentication":"apiKey","apiKey":"c73fe147.6706b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"ESP8266","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":340,"y":220,"wires":[["26573deb.4bb192","323bd6c4.c521ca","772cbaab.958eb4","f7931565.112418","2dc020e9.11672"]]},{"id":"3d7b7f1f.ba6f7","type":"debug","z":"6982c538.23908c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":120,"wires":[]},{"id":"26573deb.4bb192","type":"function","z":"6982c538.23908c","name":"","func":"msg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":180,"wires":[["3d7b7f1f.ba6f7","2612dec4.778972"]]},{"id":"323bd6c4.c521ca","type":"function","z":"6982c538.23908c","name":"","func":"msg.payload=msg.payload.Systolic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":260,"wires":[["3d7b7f1f.ba6f7","91507b2e.3d8f98"]]},{"id":"772cbaab.958eb4","type":"function","z":"6982c538.23908c","name":"","func":"msg.payload=msg.payload.Diastolic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":340,"wires":[["3d7b7f1f.ba6f7","e06c3a85.b49c88"]]},{"id":"f7931565.112418","type":"function","z":"6982c538.23908c","name":"","func":"msg.payload=msg.payload.Pulse\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":420,"wires":[["3d7b7f1f.ba6f7","a7b009ad.713138"]]},{"id":"91507b2e.3d8f98","type":"ui_chart","z":"6982c538.23908c","name":"","group":"18c5aba3.78b634","order":3,"width":"8","height":"8","label":"Systolic","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"50","ymax":"150","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":200,"wires":[[]]},{"id":"e06c3a85.b49c88","type":"ui_chart","z":"6982c538.23908c","name":"","group":"18c5aba3.78b634","order":4,"width":"8","height":"8","label":"Diastolic","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"40","ymax":"110","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":280,"wires":[[]]},{"id":"a7b009ad.713138","type":"ui_chart","z":"6982c538.23908c","name":"","group":"18c5aba3.78b634","order":5,"width":"8","height":"8","label":"Pulse","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"60","ymax":"120","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":340,"wires":[[]]},{"id":"2612dec4.778972","type":"ui_chart","z":"6982c538.23908c","name":"","group":"18c5aba3.78b634","order":2,"width":"8","height":"8","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":900,"y":140,"wires":[[]]},{"id":"54d1cf58.5f50c","type":"http request","z":"6982c538.23908c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":580,"wires":[["1f421acd.8851c5","4f43e2fc.343f4c"]]},{"id":"2dc020e9.11672","type":"function","z":"6982c538.23908c","name":"Pre-tocken","func":"global.set(\"Temperature\",msg.payload.Temperature)\nglobal.set(\"Systolic\",msg.payload.Systolic)\nglobal.set(\"Diastolic\",msg.payload.Diastolic)\nglobal.set(\"Pulse\",msg.payload.Pulse)\nvar apikey=\"rN9xOM5-OnazJykluyi6oZh7CQfZLbu_51BfpqarnNMW\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":480,"wires":[["54d1cf58.5f50c"]]},{"id":"1f421acd.8851c5","type":"function","z":"6982c538.23908c","name":"Pre-Prediction","func":"var Temperature = global.get(\"Temperature\")\nvar Systolic = global.get(\"Systolic\")\nvar Diastolic = global.get(\"Diastolic\")\nvar Pulse = global.get(\"Pulse\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"]],\"values\": [[Temperature, Systolic, Diastolic, Pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":540,"wires":[["44b819a3.850108"]]},{"id":"4f43e2fc.343f4c","type":"debug","z":"6982c538.23908c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":680,"wires":[]},{"id":"da9f6d15.62daf","type":"function","z":"6982c538.23908c","name":"","func":"var Age = global.get ('Age')\nvar Temperature = global.get ('Temperature')\nvar Systolic = global.get ('Systolic')\nvar Diastolic = global.get ('Diastolic')\nvar Pulse = global.get ('Pulse')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"ouptut\",output)\nmsg.payload = {\n details: {\n health: {\n Age: Age,\n temperature: Temperature,\n systolic: Systolic,\n diastloic:Diastolic,\n pulse: Pulse,\n output: output\n }\n }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":460,"wires":[["8d4cf0db.600d8","67b69283.09eccc"]]},{"id":"44b819a3.850108","type":"http request","z":"6982c538.23908c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/417cdbf9-eb43-4f58-baf4-820457ce3e11/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":600,"wires":[["da9f6d15.62daf","a4823475.a59d48"]]},{"id":"a4823475.a59d48","type":"debug","z":"6982c538.23908c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":680,"wires":[]},{"id":"8d4cf0db.600d8","type":"debug","z":"6982c538.23908c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":480,"wires":[]},{"id":"67b69283.09eccc","type":"ui_text","z":"6982c538.23908c","group":"18c5aba3.78b634","order":6,"width":"17","height":"2","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":420,"wires":[]},{"id":"c73fe147.6706b","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"pg9xkz.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"18c5aba3.78b634","type":"ui_group","z":"","name":"Default","tab":"95b5bc4d.fdba6","order":1,"disp":false,"width":"27","collapse":false},{"id":"95b5bc4d.fdba6","type":"ui_tab","z":"","name":"IoT Data","icon":"dashboard","disabled":false,"hidden":true}]